.navbar{
    width: 100%;
    height: 12vh;
    box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.521);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .ulist li{
    display: inline;
    margin: 0px 17px 0px 15px;
}

.navbar .ulist li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s;
 }

.navbar .ulist li a:hover{
     color: rgb(234, 186, 9);
}

.navbar .icons{
    display: inline;
    margin: 0px 8% 0px 0px;
}

.icons img{
    width: 25px;
    margin: 0px 7px;
}

.menu{
    display: none;
}

.navigation{
    display: none;
}


.navbar p{
    color: rgb(239, 210, 24);
    font-size: 45px;
    font-weight: 800;
    margin: 0px 0% 0px 5%;
}


@media screen and (max-width:1300px) {
     .navbar .icons{
        margin: 0px 3% 0px 0px;
    }
}


@media screen and (max-width:900px) {
    .navbar .icons{
       margin: 0px 1% 0px 0px;
    }

   .navbar p{
     margin: 0px 0% 0px 2%;
   }

   .navbar ul li a{
    font-size: 14px;
   }

   .navbar .ulist li{
    margin: 0px 10px 0px 10px;  
   }
}



@media screen and (max-width:690px) {
    .navbar .ulist{
       display: none;
    }

    .icons img{
        margin: 0px 15px;
    }

    .menu{
        display: inline;
        width: 50px;
        margin: 0px 3% 0px 0px;
    }

    .icons img{
        display: none;
    }

    
}












